/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */
.navbar {
  background-color: rgba(90, 62, 54, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 0;
}

.navbar-toggler {
  border: 1px solid white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.navbar-toggler:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
}

.navbar-nav .nav-link {
  font-family: 'Playfair Display SC', serif;
}

.navbar-nav .nav-link.active {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/*Hero Habitats*/

.hero-habitats {
  background-color: #f5f5dc; /* Beige doux */
  min-height: 94vh;
  padding: 4rem 0;
}

.hero-habitat-title {
  font-family: 'Playfair Display SC', serif;
  font-size: 4rem;
  color: #5A3E36;
  margin-bottom: 1rem;
}

.hero-habitat-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #5A3E36;
  line-height: 2;
  width: 85%;
  margin: 0;
}

.hero-habitat-img {
  max-width: 100%;
  height: auto;
}

/* Responsive */
@media (max-width: 768px) {
  .hero-habitats {
    text-align: center;
    padding: 3rem 1.5rem;
  }

  .hero-habitat-title {
    font-size: 2rem;
  }

  .hero-habitat-text {
    font-size: 1rem;
    margin-top: 1rem;
  }
}

